<div class="container">
  <h2 class="title-lg mb">Вопрос <%= @question.id %></h1>

  <p class="mb-sm"><%= @question.body %></p>
  <p>user_id: <b><%= @question.user_id %></b></p>

  <div class="mt">
    <%= link_to fa_icon("pencil"), question_path(@question), title: "Редактировать вопрос" %>
    <%= button_to fa_icon("eye-slash"), hide_question_path(@question), method: :put, title: "Скрыть вопрос", form: { data: { turbo_confirm: "Точно скрыть вопрос?" } } unless @question.hidden? %>
    <%= button_to fa_icon("trash-o"), question_path(@question), method: :delete, title: "Удалить вопрос", form: { data: { turbo_confirm: "Точно удалить вопрос?" } } %>
  <p class="mt"><%= link_to "Все вопросы", questions_path %></p>
  </div>
</div>